body{
    background: var(--div-secondary);
    color: var(--text-color);
}
#section_div{
    width: max-content;
    height: auto;
    background-color: var(--div-tint);
    box-shadow: 3px 3px var(--shadow);
    border-radius: 3px;
    margin-top: 20px;
    transition: all 600ms;
    text-align: center;
}
#login_title{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: "codesaver";
    font-size: 2em;
}
.login_btn{
    width: 60%;
    margin-top: 10px;
}
.login_input{
    background-color: var(--div-input);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    outline-style: none;
    width: 60%;
    height: 2em;
    margin-top: 0;
    font-size: 100%;
}
.login_text{
    font-size: 1.4em;
    margin-bottom: 0;
	font-family: "modernsans",sans-serif;
}
#login_cadastro{
    background-color: var(--div-primary);
    margin-top: 20px;
    padding-top: 4px;
}
.cadastro_text{
    font-size: 1.25em;
    font-family: "quicksand";
    margin-bottom: 0px;
}
#cadastro_link{
    text-decoration: none;
    font-weight: 500;
    color: var(--link2);
}
#footer_container{
    position: absolute;
    bottom: 0;
}
@media screen and (max-width: 825px){
    #header_container{
        display: block;
    }
    #header_nav{
        height: auto;
    }
    #section_div{
        margin-top: 50px;
    }
}
@media screen and (max-width: 751px){
	#section_div{
		margin-top: 30px;
	}
}
@media screen and (max-width: 650px){
    #loginform{
        width: 300px;
    }
}
@media screen and (max-width: 550px){
    body{
        width: 550px;
    }
    #section_div{
        width: 70%;
    }
}